.carousel { position: relative; width: 100%; }
.carousel .ui-switchable-nav { display: none; }
.carousel .ui-switchable-prev-btn, .carousel .ui-switchable-next-btn { position: absolute; top: 15px; cursor: pointer; width: 28px; line-height: 18px; border: 1px solid #dfdfdf; font-size: 18px; line-height: 1; text-align: center; color: #6d6d6d; top: -37px; background: #fff; }
.carousel .ui-switchable-prev-btn { right: 39px; }
.carousel .ui-switchable-next-btn { right: 10px; }
.carousel .ui-switchable-prev-btn:hover, .carousel .ui-switchable-next-btn:hover { color: #333; background: #f3f3f3; }
.carousel .ui-switchable-disabled-btn { color: #ddd; cursor: default; }
.carousel .scroller { height: 310px; border-bottom: 1px solid #eee; overflow: hidden; border-left: 1px solid #eee; border-right: 1px solid #eee; }
.carousel .scroller:after { content: ''; display: block; height: 0; clear: both; }
.carousel .scroller .ui-switchable-content { height: 310px; }
.carousel .scroller .ui-switchable-content .scroller-box { float: left; }
.scroller-box li { float: left; width: 309px; height: 310px; border-right: 1px solid #eee; }
.scroller-box li:last-child { border-right: none; }
.scroller-box li.last-child { border-right: none; }
.scroller-box .item-content { display: block; text-align: center; width: 308px; height: 310px; color: #000; -webkit-transition: all .5s; -ms-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s }
.scroller-box .item-content:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); position: relative; z-index: 1; }
.scroller-box .item-thumb { display: block; margin-bottom: 10px }
.scroller-box .item-thumb img { width: 220px; height: 220px }
.scroller-box .item-title { display: block; font-size: 16px }
.scroller-box .item-title a { color: #000 }
.scroller-box .item-title a:hover { color: #ff4a00 }
.scroller-box .item-desc { display: block; font-size: 12px; color: #8c8c8c }
